
  <div class="row blogimg">
    <div class="large-12 columns text-center">
        <h1 class="margin2v"><b><%= @blogPost.title %></b></h1>
    </div>
  </div>

<div class="wcontainer">
  <div class="narrower">
    <div class="large-12 columns text-left black">
      <div class="margin2v blogtext">
        <p class="blogtext"><%= @blogPost.content %>
        </p>
      </div>
    </div>
  </div>
</div>
