
  <div class="row blogimg">
    <div class="large-12 columns text-center">
        <h1 class="margin2v"><b>How to reach your city with social media</b></h1>
    </div>
  </div>

<div class="wcontainer">
  <div class="narrower">
    <div class="large-12 columns text-left black">
      <div class="margin2v blogtext">
        <p class="blogtext">Young people today don't just sit around and think about changing the world to suit their purposes--they do it. They may be inexperienced, but they're fearless when it comes to tackling long-stagnant business models and technologies with fresh new approaches-- ones that align with their internet upbringing and their expectation that commodities and information be transparent and easily shared. What might seem naive or reckless to the old-school regime is simply business as usual to big-dreaming upstarts who've been raised on the belief that they can accomplish anything they set their minds to.<br><br>
        Occasionally, this boldness translates to major profits-- and that is the case with this year's crop of Young Millionaires, who have found dizzying success before the age of 30. They're breathing new life into industries and functions that have been unchanged seemingly forever: car rentals, wardrobe staples, even the simple act of typing on keyboards. They may be young, but we expect them to have influence that lasts.
        </p>
      </div>
    </div>
  </div>
</div>
