<div class="grcontainer">
	<div class="narrow">
		<div class="large-12 columns text-left">
			<h3 class="margin2v">Lets talk about your businesses future online</h3>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>