<h1>Front#howitworks</h1>

  <div class="margin7t">
    <div class="row">
      <div class="large-12 columns text-center">
        <h1 class="intro blue"><%=  %></h1>
        <h3 class="blue"><%=  %></h3>
        <p>Find me in app/views/front/howitworks.html.erb</p>
      </div>
    </div>
  </div>