
  <div class="margin7t">
    <div class="row">
      <div class="large-12 columns text-center">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag "seamountain.png" %>
    </div>
  </div>


  <div class="bcontainer">
    <div class="row">
      <div class="large-12 columns text-center">
      </div>
    </div>
    <div class="narrow">
      <div class="large-3 columns content">
      </div>
      <div class="large-9 columns content">
      </div>
    </div>
    <div class="narrow">
      <div class="large-3 columns content">
      </div>
      <div class="large-9 columns content">
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
      </div>
      <div class="large-10 columns">
        <p></p>
      </div>
    </div>
  </div>


  <div class="lgcontainer">
    <div class="row">
      <div class"large-12 columns">
        <br><br>
      </div>
    </div>
  </div>

  <div class="gcontainer">
    <div class="narrow">
      <div class="large-6 columns text-left content">
        <div class="margin5v">
        </div>
      </div>
    </div>
  </div>

