<div class="seamountain margin4t">
  <div class="narrow">
    <div class="large-6 columns content text-center">
      <%= image_tag("video.png", class: "margin5b") %>
    </div>
    <div class="large-6 columns">
      <br>
    </div>
  </div>
</div>


  <div class="bcontainer">
    <div class="narrow padding4t3b">
      <div class="large-3 columns content">
        <p class="thin font09"><b>Control for the people who do</b><br> we remove the countless hours and headaches inflicted when setting up your own website, but empower you with our smart management panel.</p>
      </div>
      <div class="large-3 columns content">
        <p class="thin font09"><b>Track your success</b><br> we remove the countless hours and headaches inflicted when setting up your own website, but empower you with our smart management panel.</p>
      </div>
      <div class="large-3 columns content">
        <p class="thin font09"><b>Edit your content</b><br> we remove the countless hours and headaches inflicted when setting up your own website, but empower you with our smart management panel.</p>
      </div>
      <div class="large-3 columns content">
        <p class="thin font09"><b>Interact with visitors</b><br> we remove the countless hours and headaches inflicted when setting up your own website, but empower you with our smart management panel.</p>
      </div>
    </div>
    <div class="narrow">
      <div class="large-12 columns text-right">
        <%= image_tag("browserbar.png") %>
        <%= image_tag("dashboard2.png") %>
      </div>
    </div>
    </div>
  </div>

  <div class="wcontainer blue">
    <div class="narrow"> 
      <div class="large-6 columns content">
        <h3 class="margin2t">designs that <b>stand out</b></h3>
        <p class="font09 margin1t margin4b">Lorem ipsum dolor sit amet, usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti. Cum ex vitae vidisse definitionem. Integre mandamus mel no.<br><br>Lorem ipsum dolor sit amet, usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti. Cum ex vitae vidisse definitionem. Integre mandamus mel no.</p>
      </div>
      <div class="large-6 columns content">
        <h3 class="margin2t">support that <b>stands up</b></h3>
        <p class="font09 margin1t margin4b">Lorem ipsum dolor sit amet, usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti. Cum ex vitae vidisse definitionem. Integre mandamus mel no.<br><br>Lorem ipsum dolor sit amet, usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti. Cum ex vitae vidisse definitionem. Integre mandamus mel no.</p>
      </div>
    </div>
  </div>

  <div class="grcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <h3 class="margin2t">3 steps to a website with character</h3>
      </div>
    </div>
    <div class="narrow padding2t2b">
      <div class="large-4 columns padding2h">
        <p class="font09 thin"><b>one</b> usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti.</p>
      </div>
      <div class="large-4 columns padding2h">
        <p class="font09 thin"><b>two</b> usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti.</p>
      </div>
      <div class="large-4 columns padding2h">
        <p class="font09 thin"><b>three</b> usu an suas fuisset recusabo, sea harum probatus ei. Maiorum suscipit consectetuer in usu. Vix iusto tritani ad. Ne sed cibo everti.</p>
      </div>
    </div>
  </div>

