<div class="lgcontainer">
	<div class="row">
		<div class="large-12 columns">
			<%= image_tag("volcanomountain.png", class: "margin10t") %>
		</div>
	</div>
</div>

<div class="lgcontainer3">
	<div class="narrower">
		<div class="large-12 columns">
			<br><br>
		</div>
	</div>
</div>

<div class="grcontainer">
	<div class="narrower">
		<div class="large-12 columns">
			<br><br><br><Br>
		</div>
	</div>
</div>
<%= render "layouts/footer" %>