<%= render "bar" %>
<div class="narrow">
  <div class="large-12 columns text-center">
    <div class="gcontainer">
      <h4 class="margin0 padding07v">Request Change</h4>
    </div>
  </div>
</div>

<div class="narrow">
  <div class="pcontainer blue">
  </div>
</div>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin2v") %>
      </div>
    </div>
  </div>