<!DOCTYPE html>

      <h3 class="margin2t">You are due to pay your subscription</h3><br>
      <p class="margin4b"><%= link_to 'To begin your subscription with devonite, click here.', new_charge_path %></p>

</html>