<!DOCTYPE html>
<html>
<head>
  <title>Devonite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="pbg">

  <% if user_signed_in? %>
    <%= yield %>
  <% else %>
  <div class="row">
    <div class="large-12 columns text-center">
      <h1 class="blue">Not Logged In.</h1>
    </div>
  </div>
  <% end %>

    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/foundation.js"></script>
    <script src="assets/javascripts/foundation.tab.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
